header{
    
    height: 400px;
    background-image: url("../pictures/stacja.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items:flex-end;
    justify-content:center;
}
.navi{ 
    color: white;
    display: flex;
    background-color: black;
    color: white;
    height: 30px;
    align-items: center;
    justify-items: center;
    justify-content:flex-start;
}       
.navi p{
    font-size: 18px;
    margin-left: 5px;
    margin-right: 15px;
}
.navi a{
    color: white;
    margin-right: 15px;
    border-radius: 5px;
    text-decoration: none;
    
}
.navi a:hover{
    color: red;
    border-bottom: solid white;
    
}
.naglowek{
    display: block;  
}

.naglowek h1{
    font-size: 32px;
    color: white;
    background-color: black;
    background-size: cover;
    border-radius: 10px;
    border-style: solid;
    border-color: red;
    width: 850px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-weight: 700;
    
}

.naglowek button{
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: 25px;
    color: white;
    border-radius:5px;
    background-color: black;
    width: 280px;
    border-style: solid;
    border-color: red;
    margin-left: 280px;
    text-align: center;
    cursor: pointer;
}
.naglowek button:hover{
    border: solid white 2px;
    color: red;
}

* {
    font-family: Open Sans, serif;
    box-sizing: border-box;

}

body{ 
    background-color:whitesmoke;
    margin: 0;
    padding: 0; 
    width: 100%;
}
.kontent{
    margin: 10px;
    padding: 10px;
    justify-content: center;
    border-radius: 10px;
    display: flex;
}
.kontent .kontent1{
    border-style: solid;
    border-color: white;
    width: 600;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    margin-left: 50px;
    margin-right: 75px;
   
}
.kontent .kontent1 .opis {
    border-radius: 5px;
    background-color: black;
    color: white;
    border-style: solid;
    border-color: red;
    width: 300px;
    text-align: center;
    margin-left: 75px
}
i{
    margin-right: 5px;
}

.kontent .kontent2{
    border-style: solid;
    border-color: white;
    width: 600;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    margin-right: 50px;
}
.kontent .kontent2 .opis{
   border-radius: 5px;
    background-color: black;
    border-style: solid;
    border-color: red;
    color: white;
    width: 300px;
    text-align: center;
    margin-left: 75px 
}
.sekcja2{
    
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: auto;
    border-radius: 10px;
}
.sekcja2 .opis{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 450px;
    background-color: white;
    border-radius: 10px;
    margin-left: 70px;
    height: auto;
    margin-right: 75px;
    list-style: none;
    
}
.sekcja2 .opis .h1{
    text-align: center;
    margin: 20px 10px 20px 35px;
    background-color: black;
    color: white;
    border-style: solid;
    border-color: red;
    border-radius: 5px;
    width: 300px;
}
.sekcja2 .wymogi{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 450px;
    background-color: white;
    border-radius: 10px;
    margin-right: 70px;
    height: auto;
    list-style: none;
}
.sekcja2 .wymogi .h2{
    text-align: center;
    margin: 20px 10px 20px 35px;
    background-color: black;
    border-style: solid;
    border-color: red;
    color: white;
    border-radius: 5px;
    width: 300px;
}
.sekcja2 li{
    margin: 10px 10px 10px 10px;
}
.sekcja3 {
    display: flex;
    justify-content: center;
    margin: 30px;
}
.sekcja3 .kontakt{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    list-style: none;
    font-weight: 700;
    margin: 15px;
    padding: 0px;
    background: white;
    border-radius: 10px;
    font-size: 18px;
}
.kontakt div{
    display: flex;
    justify-content: center;
    text-align: center;
    border: solid red;
    border-radius: 5px;
    background: black;
    color: white;
    width: 400px; 
    margin-left: 95px;
    margin-top: 20px;
    margin-bottom: 10px;
    
}
.kontakt li{
    margin: 15px;
}
.kontakt i{
    margin: 20px 0px 0px 0px
}
.stopka{
    width: auto;
    height: auto;
    background: black;
    display: flex;
    color: lightgray;
    align-items: flex-start;
    padding: 0px 100px;
    justify-content: space-around;
    font-size: 12px;
}
.social-media{
    display: flex;
    flex-direction: column;
    padding: 0px;
    
}
.social-media a{
    text-decoration: none;
    color: lightgray;
    margin: 7px 0px;
}
.social-media a:hover{
    color: red;
    text-decoration: underline;
}

.o-nas{
    display: flex;
    flex-direction: column;
    padding: 0px;
}
.o-nas i{
    color:white;
}
.copyright{
    background: black;
    text-align: center;
    color:lightgray;
    margin: 0px;
}
.copyright p{
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-weight: 500;
}
.kontener_zdjec{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 20px;
}
.slider li img{
    height: 400px;
    width: 600px;  
}
.slider{
    display: flex;
    list-style: none;
    padding: 0;
    width: 600px;
    overflow-x: hidden;
    border-radius: 10px;
}
.slider-left, .slider-right{
    font-size: 80px;
}
.slider-left:hover, .slider-right:hover{
    color: red;
    cursor: pointer;
}
.galery-title{
    display: flex;
    justify-content: center;
    margin: 30px;
    font-size: 30px;
    font-weight: 700;
    border-bottom: solid;
}
.go-up, .go-down{
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
}
.go-up i,.go-down i{
    border: solid;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}
.go-up i:hover,.go-down i:hover{
    color: red;
    cursor: pointer;
}
