header{
    
    height: 400px;
    background-image: url("../pictures/stacja.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items:flex-end;
    justify-content:center;
}
.navi{ 
    color: white;
    display: flex;
    background-color: black;
    color: white;
    height: 30px;
    align-items: center;
    justify-items: center;
    justify-content:flex-start;
}       
.navi p{
    font-size: 18px;
    margin-left: 5px;
    margin-right: 15px;
}
.navi a{
    color: white;
    margin-right: 15px;
    border-radius: 5px;
    text-decoration: none;
    
}
.navi a:hover{
    color: red;
    border-bottom: solid white;
    
}
.naglowek{
    display: block;  
}

.naglowek h1{
    opacity: 0.8;
    font-size: 32px;
    color: white;
    background-color: black;
    background-size: cover;
    border-radius: 10px;
    border-style: solid;
    border-color: #2962ff;
    width: 850px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-weight: 700;
    
}

.naglowek button{
    opacity: 0.8;
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: 25px;
    color: white;
    border-radius:5px;
    background-color: black;
    width: 280px;
    border-style: solid;
    border-color: #2962ff;
    margin-left: 280px;
    text-align: center;
    cursor: pointer;
}
.naglowek button:hover{
    border: solid white 2px;
    color: red;
}

* {
    font-family: Open Sans, serif;
    box-sizing: border-box;

}
i {
    padding:0px 8px;
}

body{ 
    background-color:#001e2e;
    margin: 0px;
    padding: 0px;
    width: auto;
    
}
.wykres-brent{
    margin: 0px;
    padding: 20px;
    padding-top: 20px
}
.wykres-brent div{
    border-radius: 15px;
}
.section-currency{
    padding: 20px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.currency{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    
}
.currency div{
    margin: 20px;
    border-radius: 15px;
}
.currency-description{
    display: flex;
    flex-direction:column;
    justify-content: center;
    color: white;
    background-image: url(../pictures/rafineria-ropy-naftowej-o-zmierzchu-z-odbiciem.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    padding: 10px;
    height: 400px;
    width: 1285px;
}
.description{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description p{
    text-align: center;
}
.description ul{
    background-color: #3c0085;
    opacity: 0.9;
    padding: 20px 20px 30px 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.description ul p{
    text-align: center;
    opacity:
}
.offer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    padding-bottom: 0px;
    
}
.offer .offer-description{
    text-align: center;
    width: 1000px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin: 25px;
    background-color: white;
    color: black;
    border-radius: 10px;
    
}
.offer .offer-header{
    color: white;
    font-size: 22px;
    font-weight: 600;
    border: solid 1px #2962ff;
    padding: 10px;
    border-radius: 10px;
}
.offer-container{
    padding: 0px 130px;
    font-weight: 600;
    color: black;
    display: flex;
    margin: 25px;
    width: 1285px;
    justify-content: space-between;
}
.offer-container .contact{
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}
.stopka{
    width: auto;
    height: auto;
    background: black;
    display: flex;
    color: lightgray;
    align-items: flex-start;
    padding: 0px 100px;
    justify-content: space-around;
    font-size: 12px;
}
.social-media{
    display: flex;
    flex-direction: column;
    padding: 0px;
    
}
.social-media a{
    text-decoration: none;
    color: lightgray;
    margin: 7px 0px;
}
.social-media a:hover{
    color: red;
    text-decoration: underline;
}

.o-nas{
    display: flex;
    flex-direction: column;
    padding: 0px;
}
.o-nas i{
    color:white;
}
.copyright{
    background: black;
    text-align: center;
    color:lightgray;
    margin: 0px;
}
.copyright p{
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-weight: 500;
}
.form{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 450px;
    
}
.form h{
    margin: 5px 0px 5px 8px
}
.form-contact{
    display: flex;
    flex-direction: column;
    
}
.form-contact input{
    padding: 5px 10px;
    margin: 5px;
    border: solid 1px lightgrey;
    border-radius: 5px;
}
.opis-tematu{
    margin: 5px;
    padding: 5px;
    height: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border: solid 1px lightgrey;
    border-radius: 5px;
}
.form-contact button{
    width: 300px;
    margin: 5px 0px 10px 67px;
    background-color: #001e2e;
    color: white;
    border-color: #2962ff;
    border-radius: 5px;
}
.form-contact button:hover{
    background-color: red;
    cursor: pointer;
}
.up-arrow, .down-arrow{
    color: white;
    display: flex;
    font-size: 50px;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px 20px;
}
.up:hover, .down:hover{
    color: red;
    cursor: pointer;
}