header{
    height: 400px;
    background-image: url("../pictures/stacja.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items:flex-end;
    justify-content:center
}

.naglowek{
    display: block;  
}

.naglowek h1{
    font-size: 32px;
    color: antiquewhite;
    background-color: black;
    background-size: cover;
    border-radius: 10px;
    border-style: solid;
    border-color: darkred;
    width: 800px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.naglowek h2{
    font-size: 25px;
    color: antiquewhite;
    border-radius:10px;
    background-color: black;
    width: 280px;
    border-style: solid;
    border-color: darkred;
    margin-left: 250px;
    text-align: center;
}

body{ 
    font-family: Times New Roman;
    font-family: sans-serif;
    background-color: lightgrey;
    margin: 0;
    padding: 0; 
    background-color:white;
}
.kontent{
    margin: 10px;
    padding: 10px;
    justify-content: space-between;
    border-style: solid;
    border-color: red;
    display: flex;
}
.kontent .kontent1{
    border-style: solid;
    border-color: red;
    width: 500;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}
.kontent .kontent1 .image1{
    border-style: solid;
    border-color: red;
}

.kontent .kontent2{
    border-style: solid;
    border-color: red;
    width: 500;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}

